# packages in environment at C:\Users\User\miniconda3\envs\p350:
#
# Name                    Version                   Build  Channel
altgraph                  0.17                     pypi_0    pypi
blas                      2.15                        mkl    conda-forge
bottle                    0.12.18                  pypi_0    pypi
bottle-websocket          0.2.9                    pypi_0    pypi
certifi                   2018.8.24             py35_1001    conda-forge
cffi                      1.14.0                   pypi_0    pypi
cupy                      7.2.0                    pypi_0    pypi
cycler                    0.10.0                   pypi_0    pypi
decorator                 4.4.2                    pypi_0    pypi
deprecated                1.2.8                    pypi_0    pypi
eel                       0.12.2                   pypi_0    pypi
fastrlock                 0.4                      pypi_0    pypi
fbs                       0.8.6                    pypi_0    pypi
flowiz                    2.3.1                    pypi_0    pypi
future                    0.18.2                   pypi_0    pypi
gevent                    1.4.0                    pypi_0    pypi
gevent-websocket          0.10.1                   pypi_0    pypi
greenlet                  0.4.15                   pypi_0    pypi
helpdev                   0.6.10                   pypi_0    pypi
icc_rt                    2019.0.0             h0cc432a_1  
imageio                   2.8.0                    pypi_0    pypi
importlib-metadata        1.6.0                    pypi_0    pypi
intel-openmp              2020.0                      166  
joblib                    0.14.1                   pypi_0    pypi
kiwisolver                1.1.0                    pypi_0    pypi
libblas                   3.8.0                    15_mkl    conda-forge
libcblas                  3.8.0                    15_mkl    conda-forge
liblapack                 3.8.0                    15_mkl    conda-forge
liblapacke                3.8.0                    15_mkl    conda-forge
libprotobuf               3.6.0             h1a1b453_1000    conda-forge
m2w64-gcc-libgfortran     5.3.0                         6  
m2w64-gcc-libs            5.3.0                         7  
m2w64-gcc-libs-core       5.3.0                         7  
m2w64-gmp                 6.1.0                         2  
m2w64-libwinpthread-git   5.0.0.4634.697f757               2  
macholib                  1.14                     pypi_0    pypi
matplotlib                3.0.3                    pypi_0    pypi
mkl                       2020.0                      166  
mock                      2.0.0                    py35_0    conda-forge
msys2-conda-epoch         20160418                      1  
natsort                   7.0.1                    pypi_0    pypi
networkx                  2.4                      pypi_0    pypi
numpy                     1.14.2           py35h5c71026_0  
opencv-python             4.2.0.34                 pypi_0    pypi
pandas                    0.25.3                   pypi_0    pypi
pbr                       5.4.2                      py_0    conda-forge
pefile                    2019.4.18                pypi_0    pypi
pillow                    7.1.1                    pypi_0    pypi
pip                       20.0.2                     py_2    conda-forge
protobuf                  3.6.0            py35he025d50_0    conda-forge
psutil                    5.7.0                    pypi_0    pypi
pycparser                 2.20                     pypi_0    pypi
pyinstaller               3.4                      pypi_0    pypi
pyparsing                 2.4.7                    pypi_0    pypi
pyqt5                     5.9.2                    pypi_0    pypi
python                    3.5.5                he025d50_2    conda-forge
python-dateutil           2.8.1                    pypi_0    pypi
pytz                      2019.3                   pypi_0    pypi
pywavelets                1.1.1                    pypi_0    pypi
pywin32-ctypes            0.2.0                    pypi_0    pypi
qdarkgraystyle            1.0.2                    pypi_0    pypi
qdarkstyle                2.8.1                    pypi_0    pypi
qtpy                      1.9.0                    pypi_0    pypi
scikit-image              0.15.0                   pypi_0    pypi
scikit-learn              0.22.2.post1             pypi_0    pypi
scikit-video              1.1.11                   pypi_0    pypi
scipy                     1.1.0                    pypi_0    pypi
setuptools                40.4.3                   py35_0    conda-forge
sip                       4.19.8                   pypi_0    pypi
six                       1.14.0                     py_1    conda-forge
sklearn                   0.0                      pypi_0    pypi
tensorflow                1.0.0                    py35_0    conda-forge
torch                     1.4.0                    pypi_0    pypi
torchvision               0.5.0                    pypi_0    pypi
tqdm                      4.45.0                   pypi_0    pypi
vc                        14.1                 h869be7e_1    conda-forge
vs2015_runtime            14.16.27012          h30e32a0_1    conda-forge
wheel                     0.34.2                     py_1    conda-forge
whichcraft                0.6.1                    pypi_0    pypi
wincertstore              0.2                   py35_1002    conda-forge
wrapt                     1.12.1                   pypi_0    pypi
zipp                      1.2.0                    pypi_0    pypi
zlib                      1.2.11            h2fa13f4_1006    conda-forge
